/* 스크롤바 숨기기 */
body::-webkit-scrollbar{display:none;}
body{
  -ms-overflow-style:none;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.aboutMe {
  font-family: 'Do Hyeon', sans-serif;
}

/* 공통 적용 CSS */
.name {
  font-size: 20px;
}

/* CSS */
.aboutMe {
  width: 90vw;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  left: 5vw;
}
.introduce {
  height: calc(90vh - 100px);
  display: grid;
  grid-template-areas:
  "box1 box1"
  "box2 box3";
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.introduce .name {
  grid-area: box1;
}
.introduce .IDpicture_wrap {
  grid-area: box2;
}
.introduce .text {
  grid-area: box3;
}
.IDpicture {
  width: 290px;
  height: 360px;
}
