/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display:none;
}
body {
  -ms-overflow-style:none;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.aboutMe {
  font-family: 'Do Hyeon', sans-serif;
}

/* 공통 적용 CSS */
.name {
  font-size: 20px;
}

/* CSS */
body {
  height: 100vh;
  overflow: hidden;
}
.aboutMe {
  width: 90vw;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-rows: calc(100vh - 80px) calc(100vh - 80px) calc(100vh - 80px);
  position: absolute;
  top: 100px;
  left: 5vw;
  z-index: 1;
  transition: all 2s;
}
.introduce {
  height: calc(100vh - 120px);
  min-height: 600px;
  display: grid;
  grid-template-areas:
  "box1 box1"
  "box2 box3";
  grid-template-rows: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.introduce .name {
  grid-area: box1;
}
.introduce .IDpicture_wrap {
  align-self: center;
  grid-area: box2;
}
.introduce .text {
  height: 360px;
  align-self: center;
  grid-area: box3;
  font-size: 18px;
}
.introduce .text td {
  height: 45px;
}
.introduce .text .key {
  width: 100px;
  text-align: justify;
}
.introduce .text .value {
  text-align: center;
}
.introduce .text table tbody tr:last-child td {
  height: 120px;
  text-align: left;
}
.IDpicture {
  width: 290px;
  height: 360px;
}
.works {
  height: calc(100vh - 120px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.skills {
  height: calc(100vh - 120px);
}

/* character */
canvas {
  position: fixed;
  right: 90px;
  width: 270px;
  height: 285px;
  transition: all 2s;
}
