/* 스크롤바 숨기기 */
body::-webkit-scrollbar{display:none;}
body{
  -ms-overflow-style:none;
}

/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* contact */
.contact {
  background: #F0E0C9;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrap a img {
  border-radius: 5px;
  opacity: 0.1;
  transition: opacity 3s;
}
.wrap a img:hover {
  animation: kakao 1s;
}
@keyframes kakao {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-2.5deg);}
  50% {transform: rotate(2.5deg);}
  75% {transform: rotate(-2.5deg);}
  100% {transform: rotate(0deg);}
}
.wrap h1 {
  text-align: center;
  color: #706E64;
  line-height: 32px;
}
.wrap h4 {
  text-align: center;
  color: rgba(112, 110, 100, 0.6);
  line-height: 16px;
  cursor: default;
}
