/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* header */
.header {
  width: 100vw;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  z-index: 10;
}
.darkmode .header {
  background: rgba(41, 42, 45, 1);
}
.lightmode .header {
  background: rgba(255, 255, 255, 1);
}

/* logo */
.logo {
  width: 165px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logoImg {
  width: 130px;
  height: 40px;
}

/* main navigation */
.main_menu {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 80px;
}
.main_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.main_menu ul li {
  text-align: center;
  position: relative;
}
.main_menu ul li:last-child::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: -7px;
  transition: left 0.7s;
}
.darkmode .header .main_menu ul li:last-child::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.lightmode .header .main_menu ul li:last-child::after {
  background-color: rgba(30, 50, 39, 0.8);
}
.main_menu ul li:nth-child(1):hover ~li:last-child::after {
  left: -377.5px;
}
.main_menu ul li:nth-child(2):hover ~li:last-child::after {
  left: -227.5px;
}
.main_menu ul li:nth-child(3):hover ~li:last-child::after {
  left: -77.5px;
}
.main_menu ul li:nth-child(4):hover::after {
  left: 72.5px;
}
.main_menu ul li a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.1s;
}
.darkmode .header .main_menu ul li a {
  color: rgba(255, 255, 255, 0.8);
}
.darkmode .header .main_menu ul li a:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.darkmode .header .main_menu ul li.active a {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.lightmode .header .main_menu ul li a {
  color: rgba(30, 50, 39, 0.8);
}
.lightmode .header .main_menu ul li a:hover {
  color: rgba(30, 50, 39, 1);
  font-weight: 500;
}
.lightmode .header .main_menu ul li.active a {
  color: rgba(30, 50, 39, 1);
  font-weight: 500;
}


/* menu button */
.menu_btn {
  width: 130px;
  height: 80px;
  margin-right: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu_btn > button {
  width: 25px;
  height: 25px;
  outline: none;
  background: none;
  border: none;
  position: relative;
  padding: 0;
  cursor: pointer;
  z-index: 12;
}
.menu_btn_line {
  width: 25px;
  height: 2px;
  position: absolute;
  left: 0;
  transition: transform 0.5s;
  transform-origin: center;
}
.darkmode .header .menu_btn button .menu_btn_line {
  background: rgba(255, 255, 255, 1);
}
.lightmode .header .menu_btn button .menu_btn_line {
  background: #213429;
}
.menu_btn_line1 {
  top: 1px;
}
.menu_btn_line2 {
  top: 11px;
  transition: opacity 0.5s;
}
.menu_btn_line3 {
  top: 22px;
}

/* darkmode button */
.menu_btn .darkmode_btn {
  width: 105px;
  height: 80px;
  position: relative;
}
.menu_btn .darkmode_btn button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  top: 25px;
  right: 30px;
  padding: 0;
  cursor: pointer;
  z-index: 12;
}
.menu_btn .darkmode_btn button img {
  transition: transform 0.7s;
}
.menu_btn .darkmode_btn button :hover {
  transform: rotate(30deg);
}
.darkmode .header .menu_btn .darkmode_btn button {
  background: rgba(255, 237, 0, 0.1);
}
.lightmode .header .menu_btn .darkmode_btn button {
  background: rgba(0, 0, 0, 1);
  box-shadow: 0 0 3px 3px rgba(0,0,0,1);
}
.lightmode .header .menu_btn .darkmode_btn button img {
  position: absolute;
  top: 3.5px;
  left: 3.5px;
}

/* side_nav */
.side_nav {
  width: 500px;
  height: 100vh;
  z-index: 11;
  transition: opacity 0.7s;
  background: white;
  position: absolute;
  right: 0;
  display: none;
  opacity: 0;
}
.darkmode .header .side_nav {
  background: rgba(41, 42, 45, 1);
}
.side_nav_overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.7s;
  display: none;
  opacity: 0;
  z-index: 9;
}
.darkmode .header .side_nav_overlay {
  background: rgba(255, 255, 255, 0.1);
}

/* 반응형 */

@media all and (max-width: 1024px) {
  .header {
    display: block;
  }
  .logo {
    position: absolute;
    justify-content: center;
    top: 0;
    left: calc(50% - 82.5px);
  }
  .header .main_menu{
    display: none;
  }
  .menu_btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media all and (max-width: 400px) {
  .logo {
    display: none;
  }
}
