:root {
  font-size: 0.52083333vw;

  --z-index-header: 300;
  --z-index-mousecursor: 500;

  --color-background: #0f172b;
  --color-white: white;
  --color-red: #cc0d18;

  --ease-in: cubic-bezier(0.16, 0.84, 0.44, 1);
  --ease-out: cubic-bezier(0.23, 0.98, 0.32, 1);
  --ease-inout: cubic-bezier(0.75, 0, 0.15, 1);
}

@media screen and (max-width: 860px) {
  :root {
    font-size: 1.16279vw;
  }
}
@media screen and (max-width: 430px) {
  :root {
    font-size: 2.3255814vw;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    font-size: 0.5208333vw;
  }
}

body {
  background-color: var(--color-background);
}

* {
  color: var(--color-white);
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
